<div class="slide_bg_tail">
  <div class="slide_bg">
    <div class="slides">
      <script type="text/javascript" language="javascript">
        var $asj = jQuery.noConflict();
        $asj(function () {
          function formatText(index, panel) {
          return index + "";
          }
          $asj('.anythingSlider').anythingSlider({
            easing: "easeInOutExpo",
            autoPlay: true,
            delay: 8000,
            showStartStop: false,
            startStopped: false,
            animationTime: 600,
            hashTags: true,
            buildNavigation: true,
            pauseOnHover: false,
            startText: "Start",
            stopText: "Stop",
            navigationFormatter: formatText
          });
        });
      </script>
      <div class="anythingSlider">
        <div class="wrapper">
          <ul>
            <% @last_projects.each_with_index do |project, i| %>
              <li id='slide<%= i %>'>
                <p>
                  <img class="fleft" src="<%= project.image.photo.url(:normal) %>" border="0"/>
                  <span class="text-1"><%= project.title %></span>
                  <span class="text-2"><%= project.project_type %></span>
                </p>
                <p class="portfolio-p"><%= project.description %></p>
                <p>
                  <a class="read_portfolio" href="<%= project_path(project) %>"></a>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content_bg">
  <div class="top-title">
    <div class="wrapper-box module">
      <div class="clear">
        <div class="boxIndent">
          <h2>We produce designs that are creative</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="cols_bg_bottom">
    <div class="cols">
      <div class="col-1">
        <div class="wrapper-box module">
          <div class="boxTitle">
            <div class="title">
              <div class="right-bg">
                <div class="left-bg">
                  <h3>Design</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="clear">
            <div class="boxIndent">
              <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis</p>
              <p>
                <a class="button" href="<%= pages_design_path %>">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="wrapper-box module">
          <div class="boxTitle">
            <div class="title">
              <div class="right-bg">
                <div class="left-bg">
                  <h3>Development</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="clear">
            <div class="boxIndent">
              <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis</p>
              <p>
                <a class="button" href="<%= pages_development_path %>">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="wrapper-box module">
          <div class="boxTitle">
            <div class="title">
              <div class="right-bg">
                <div class="left-bg">
                  <h3>SEO Optimization</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="clear">
            <div class="boxIndent">
              <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis</p>
              <p>
                <a class="button" href="<%= pages_seo_optimization_path %>">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-recent_bg">
    <div class="slide-recent">
      <div class="wrapper-box module">
        <div class="boxTitle">
          <div class="title">
            <div class="right-bg">
              <div class="left-bg">
                <h3>Recent Works</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="clear2">
          <div class="boxIndent">
            <div class="carousel-box">
              <button class="prev"></button>
              <button class="next"></button>
              <div class="inner">
                <div class="carousel">
                  <ul>
                    <% @projects.each do |project| %>
                      <li>
                        <a href="<%= project_path(project) %>">
                          <img src="<%= project.image.photo.url(:for_gallery) %>" border="0" width="138" height="138"/>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="date">
    <div class="cols2">
      <% @last_news.each_with_index do |news, i| %>
        <div class="col-<%= i+4 %>">
          <div class="wrapper-box module">
            <div class="boxTitle">
              <div class="title">
                <div class="right-bg">
                  <div class="left-bg">
                    <h3><%= news.created_at.strftime("%m %d") %></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear">
              <div class="boxIndent">
                <p><%= Sanitize.clean(news.content[0..250])+'...' %></p>
                <p>
                  <a class="button" href="<%= news_path(news) %>">Read more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="wrapper-content content-top ">
    <div class="grey_bg">
      <div id="content">
        <div class="clear">
          <div class="container">
            <div class="clear">
              <table class="blogindex-page" cellpadding="0" cellspacing="0"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>