<div class="project_show">
  <p><%= image_tag @project.image.photo.url(:normal) %></p>
  <p><%= @project.title %></p>
  <p><%= @project.description %></p>
  <p><%= @project.date %></p>
  <p><%= @project.site_url %></p>
</div>